<!-- Header -->
<header id="top" class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1>Hi, I'm Sergio!</h1>
        <p>I'm a web developer located in BA, currently working for <a href="http://auth0.com/" target="_blank">Auth0 <span class="auth0-icon"></span></a>.
        <br/>I make websites look good and behave nice in every browser and device. I have 4 years of experience in web development, focusing in HTML, CSS and some help of JS, following the modern standards for Responsive Web Design and Mobile First.</p>
      </div>
    </div>
  </div>
</header>
