/**
 * Site header
 */
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 56px;
    z-index: 2;

    // Positioning context for the mobile navigation icon
    //position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        // color: $grey-color-dark;
        color: #fff;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query-max($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 1;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query-max($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query-max($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

 section {
   position: relative;
   display: block;
   width: 100%;
 }

.page-wrapper {
  min-height: 100%;
  background-color: #fff;

  .post-title {
    width: 118%;
    background-color: #111111;
    padding: 35px;
    margin-left: -9%;
    margin-right: -9px;
    padding-left: 9%;
  }
}

.page-content {
  position: relative;
  display: flex;
  width: 100vw;
  height: calc(100vh - 56px);
  padding-top: 56px;
}

.herospace {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
.subheader {
  width: 100%;
  background-color: #000;
}

.post {
  width: 100%;
}

.work-list-wrapper {
  padding-top: 30px;
}

.work-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  @include media-query($desktop) {
    flex-direction: row;
  }
}

.work-item  {
  flex: 1 0 33.33%;
  color: #111111;
  padding: 0 1%;
  margin-bottom: 25px;
  box-sizing: border-box;

  a {
    color: #0a84ae;
    &:hover,
    &:active {
      column-rule: #053b4e;
    }

    &:visited {
      color: darken(#0a84ae, 15%);
    }
  }
}

.work-item-image {
  height: 205px;
  width: 100%;
  object-fit: cover;
}

.work-item-title  {
  color: white;
  padding: 10px;
  margin: 0;
  font-family: $alt-font-family;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #1d1d1d;
}

.work-item-link {
  display: block;
  padding: 8px 10px;
  font-size: 13px;
  font-family: $alt-font-family;
  background-color: #f8f8f8;
}
.herospace-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/main-bg.jpg) center center no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  background-size: cover;
}

.herospace-content {
  z-index: 1;
  width: 100%;
  background: rgba(17, 17, 17, 0.82);
  //background: linear-gradient(270deg, #00ffbd, #0011ff);
  //background-size: 400% 400%;

  //-webkit-animation: AnimationName 30s ease infinite;
  //-moz-animation: AnimationName 30s ease infinite;
  //animation: AnimationName 30s ease infinite;
}

.my-name {
  width: 100%;
  margin: 0;
  font-size: 2.6em;
  font-weight: 100;
  text-align: center;

  @include media-query($desktop) {
    font-size: 5em;
  }
}

.my-role-wrap {
    animation: entrance .8s cubic-bezier(.64,.05,.35,1) 2.3s forwards;
    overflow: hidden;
    max-height: 0;
  }

   .my-role {
     width: 100%;
     display: block;
     padding: 10px 0;
     margin: 0;
     font-weight: 100;
     text-align: center;
     background: rgb(17, 17, 17);
   }

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

@keyframes entrance {
  0%
  {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 44px;
    opacity: 1;
  }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/* Animated gradient keyframe */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
