<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{'/scripts/jquery.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{'/scripts/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{'/scripts/main.js' | prepend: site.baseurl }}"></script>

  </body>
</html>
